<div class="img-thumbnail">
  <img src="../../assets/820x230.png">
  <div>
    <h4 class="fa-pull-right">{{product.price}}元</h4>
    <h4>{{product.title}}</h4>
    <p>{{product.desc}}</p>
  </div>
  <div>
    <p class="fa-pull-right">{{comments.length}}</p>
    <p>
      <app-stars [rating]="product.rating"></app-stars>
    </p>
  </div>
</div>

<div class="well">
  <div>
    <div>
      <app-stars [rating]="newRating" [readonly]="false"></app-stars>
    </div>
    <div>
      <textarea [(ngModel)]="newComment"></textarea>
    </div>
  </div>
  <div class="row" *ngFor="let comment of comments">
    <hr>
    <div class="col-md-12">
      <app-stars [rating]="comment.rating"></app-stars>
      <span>{{comment.user}}</span>
      <span class="fa-pull-right">{{comment.timestamp}}</span>
      <p></p>
      <span>{{comment.content}}</span>
    </div>
  </div>
</div>
